@keyframes flowingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.flowing-gradient {
  background: linear-gradient(
    to right,
    #76ab70,
    #598f53,
    #467242,
    #598f53,
    #76ab70
  );
  background-size: 200% auto;
  animation: flowingGradient 3s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
}

.flowing-gradient-gold {
  background: linear-gradient(
    to right,
    #d4af37,
    #f4cd6c,
    #d4af37,
    #f4cd6c,
    #d4af37
  );
  background-size: 200% auto;
  animation: flowingGradient 3s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
} 