@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove any scroll behavior modifications */
html,
body {
  overflow-x: hidden;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
} 